.page__item__cherry{
    vertical-align: -0.31vw;
    margin-top: 9vh;
    width: 1.4vw;
    height: 1.4vw;
  }
  .cherry{
    background-color: #FEE9DE;
    display: inline;
    font-family: 'poppins';
    font-weight: 500;
    padding-top: 0.9vh;
    padding-bottom: 0.9vh;
    padding-left: 0.7vw;
    padding-right: 0.7vw;
    border: 2px solid transparent;
    border-radius: 26px;
    color: #EB0029;
    margin-left: 15vw;
    font-size: 0.9vw;
  }
  .page__item__lobster{
    font-family: 'Lobster Two';
    color: #EB0029;
    font-style: italic;
  }
  .page__item__lobster__restaurants{
    font-family: 'Lobster Two';
    color: #EB0029;
    margin-left: 15vw;
    font-style: italic;
    font-size: 4vw;
    margin-top: -5vw;
  }
  .page__item__rubik__claim{
    font-family: 'Rubik';
    margin-left: 15vw;
    font-size: 4vw;
    font-weight: 700;
  }
  .page__item__rubik__on{
    font-family: 'Rubik';
    margin-left: 15vw;
    font-size: 4vw;
    font-weight: 700;
    margin-top: -0.5vw;
  }
  .page__item__poppins__str1{
    font-family: 'poppins';
    margin-left: 15.5vw;
    font-size: 1vw;
  
  }
  .page__item__poppins__str2{
    font-family: 'poppins';
    margin-left: 15.5vw;
    font-size: 1vw;
    margin-bottom: 7vw;
  
  }
  .page__item__photo{
    height: auto;
    width: auto;
    max-width: 70vw;
    max-height: 70vh;
    margin-top: -30vw;
    margin-left: 34vw;
    vertical-align: middle;
  }
  .page__item__what{
    color: #ff0000;
    font-family: 'poppins';
    font-weight: 600;
    padding-left: 45vw;
    font-size: 1.5vw;
  }
  .page__item__your__str1{
    color: #000000;
    font-family: 'poppins';
    font-weight: 800;
    padding-left: 35vw;
    font-size: 3vw;
    
  }
  .page__item__your__str2{
    color: #000000;
    font-family: 'poppins';
    font-weight: 800;
    padding-left: 38vw;
    font-size: 3vw;
    margin-top: -1vh;
  }
  .page__item__photo1{
    width: 20vw;
    height: 20vw;
    vertical-align:-0.71vw;
    margin-left: 14.5vw;
  }
  .page__item__photo1__text1{
  color: #000000;
  font-family: 'poppins';
  font-size: 2vw;
  font-weight: 700;
  margin-left: 17vw;
  display: block;
  position: relative;
  }
  .page__item__photo1__text2__str1{
    color: #000;
    color: #000000;
  font-family: 'poppins';
  font-size: 1.5vw;
  font-weight: 400;
  margin-left: 14vw;
  display: block;
  position: relative;
  
  }
  .page__item__photo1__text2__str2{
    color: #000;
    color: #000000;
  font-family: 'poppins';
  font-size: 1.5vw;
  font-weight: 400;
  margin-left: 5vw;
  display: block;
  position: relative;
  margin-top: -0.6vw;
  }
  
  .page__item__photo2{
    width: 20vw;
    height: 20vw;
    margin-left: 43.5vw;
    margin-top: -20vw;
    display: block;
    position: absolute;
  }
  .page__item__photo2__text1{
  color: #000000;
  font-family: 'poppins';
  font-size: 2vw;
  font-weight: 700;
  margin-left: 45vw;
  display: block;
  margin-top: -8.2vw;
  }
  .page__item__photo2__text2__str1{
    color: #000;
    color: #000000;
  font-family: 'poppins';
  font-size: 1.5vw;
  font-weight: 400;
  margin-left: 14vw;
  display: block;
  position: relative;
  margin-left: 42vw;
  
  }
  .page__item__photo2__text2__str2{
    color: #000;
    color: #000000;
  font-family: 'poppins';
  font-size: 1.5vw;
  font-weight: 400;
  margin-left: 6.5vw;
  display: block;
  position: relative;
  margin-top: -0.6vw;
  }
  
  .page__item__photo3{
    width: 20vw;
    height: 20vw;
    margin-left: 73.5vw;
    margin-top: -20vw;
    display: block;
    position: absolute;
  }
  .page__item__photo3__text1{
  color: #000000;
  font-family: 'poppins';
  font-size: 2vw;
  font-weight: 700;
  margin-left: 75vw;
  display: block;
  margin-top: -8.2vw;
  }
  .page__item__photo3__text2__str1{
    color: #000;
    color: #000000;
  font-family: 'poppins';
  font-size: 1.5vw;
  font-weight: 400;
  margin-left: 14vw;
  display: block;
  position: relative;
  margin-left: 72vw;
  
  }
  .page__item__photo3__text2__str2{
    color: #000;
    color: #000000;
  font-family: 'poppins';
  font-size: 1.5vw;
  font-weight: 400;
  margin-left: 6.5vw;
  display: block;
  position: relative;
  margin-top: -0.6vw;
  margin-bottom: 6vw;
  }