.page__item__button{
    background-color: #ff0000;
    display: inline;
    font-family: 'poppins';
    font-weight: 500;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border: 2px solid transparent;
    border-radius: 26px;
    color: #ffffff;
    margin-left: 15vw;
    font-size: 1vw;
    margin-top: -1vw;
    :hover {
      background-color: #781313;
    display: inline;
    font-family: 'poppins';
    font-weight: 500;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border: 2px solid transparent;
    border-radius: 26px;
    color: #ffffff;
    margin-left: 15vw;
    font-size: 1vw;
    margin-top: -1vw;
  }
  }