.page__item__MENU__str1{
    color: #000000;
  font-family: 'poppins';
  font-size: 3vw;
  font-weight: 700;
  margin-left: 15vw;
  display: block;
  margin-top: 1.0vw;
  
  }
  .page__item__MENU__str2{
    color: #000000;
  font-family: 'poppins';
  font-size: 3vw;
  font-weight: 700;
  display: block;
  margin-top: -0.5vh;
  }
  
  .page__item__pic__burger{
    width: 3vw;
    height: 3vw;
    vertical-align:-0.71vw;
    margin-left: 14.5vw;
    
  }
  .page__item__burger__text1{
  color: #000000;
  font-family: 'poppins';
  font-size: 1.7vw;
  font-weight: 500;
  margin-left: 21vw;
  margin-top: -3vw;
  display: block;
  position: relative;
  }
  .page__item__pic__pizza{
    width: 7vw;
    height: 7vw;
    display: block;
    margin-top: 3.5vw;
    margin-left: 12.5vw;
  }
  .page__item__pizza__text1{
  color: #000000;
  font-family: 'poppins';
  font-size: 1.7vw;
  font-weight: 500;
  margin-left: 21vw;
  margin-top: -5vw;
  display: block;
  position: relative;
  }
  
  .page__item__pic__cupcake{
    width: 3vw;
    height: 3vw;
    margin-left: 14.5vw;
    display: block;
    margin-top: 4vw;
  }
  .page__item__cupcake__text1{
  color: #000000;
  font-family: 'poppins';
  font-size: 1.7vw;
  font-weight: 500;
  margin-left: 21vw;
  margin-top: -2vw;
  display: block;
  position: relative;
  }
  
  .page__item__pic__ramen{
    width: 3vw;
    height: 3vw;
    margin-left: 14.5vw;
    display: block;
    margin-top: 4vw;
  }
  .page__item__ramen__text1{
  color: #000000;
  font-family: 'poppins';
  font-size: 1.7vw;
  font-weight: 500;
  margin-left: 21vw;
  margin-top: -2vw;
  display: block;
  position: relative;
  }
  
  .page__item__pic__ice{
    width: 3vw;
    height: 3vw;
    margin-left: 14.5vw;
    display: block;
    margin-top: 4vw;
  }
  .page__item__ice__text1{
  color: #000000;
  font-family: 'poppins';
  font-size: 1.7vw;
  font-weight: 500;
  margin-left: 21vw;
  margin-top: -2vw;
  display: block;
  position: relative;
  }